QMainWindow
{
    font: 8pt "Arial";
}

*:disabled
{
    color:gray;
}


MainWindow
{
    background-color:qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(0, 0, 0, 255), stop:0.130682 rgba(249, 249, 249, 255), stop:1 rgba(207, 207, 207, 255));
}

QHexEdit
{
   font: 10pt "Courier New";
}

QDialog
{
    background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(249, 249, 249, 255), stop:1 rgba(217, 217, 217, 255));
}

QMenuBar
{
    background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(249, 249, 249, 255), stop:1 rgba(217, 217, 217, 255));
    border: 1px solid rgb(171, 173, 179);
    border-bottom:none;
    padding: 4px;
}

QMenuBar::item 
{
    background:transparent;
 }

 QMenuBar::item:selected 
{ /* when selected using mouse or keyboard */
     background:  qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(217, 217, 217, 255), stop:1 rgba(249, 249, 249, 255));
     border: 1px solid rgb(171, 173, 179);
     border-top-left-radius:4px;
     border-top-right-radius: 4px;
 }

QMenuBar::item:pressed 
{
     background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(249, 249, 249, 255), stop:1 rgba(217, 217, 217, 255)); 
     border-bottom:none;
     border-bottom-left-radius:none;
     border-bottom-right-radius:none;
 }

QToolBar
{
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(217, 217, 217, 255), stop:1 rgba(249, 249, 249, 255));
    border: 1px solid rgb(171, 173, 179);
    border-top:none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding:4px;
}

QTabWidget::pane
{
    top: 1px;
    background-color: rgb(217, 217, 217);
    border-radius: 4px;
    border: 1px solid rgb(171, 173, 179);
}

QTabWidget::tab-bar
{
    left:7px;
    bottom: -2px;
}

QTabBar:tab
{
    min-width: 10ex;
    padding: 3px 3px;
}

QTabBar::tab:selected
{
    top: +0.5ex;
    background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(249, 249, 249, 255), stop:1 rgba(217, 217, 217, 255));
    border-top: 1px solid rgb(171, 173, 179);
    border-left: 1px solid rgb(171, 173, 179);
    border-right: 1px solid rgb(171, 173, 179);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

QTabBar::tab:!selected
{
    background-color: rgba(217, 217, 217, 255);
    border-top: 1px solid rgb(171, 173, 179);
    border-left: 1px solid rgb(171, 173, 179);
    border-right: 1px solid rgb(171, 173, 179);
    border-bottom: 1px solid rgb(171, 173, 179);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

QPushButton
{
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(249, 249, 249, 255), stop:1 rgba(217, 217, 217, 255));
    border: 1px solid rgb(171, 173, 179);
    padding: 2px 8px;
}

QGroupBox
{
    color:none;
    background-color: rgba(227, 227, 227, 255);
    top: +18px;
    border: 1px solid rgb(171, 173, 179);
    border-top-left-radius: 4px;
    border-top-right-radius:4px;
    margin-top: 5ex;
}

QGroupBox::title
{
    subcontrol-origin: margin;
    left: +5px;
    padding: 1px 4px;
    background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(249, 249, 249, 255), stop:1 rgba(227, 227, 227, 255));
    border: 1px solid rgb(171, 173, 179);
    border-top-left-radius: 4px;
    border-top-right-radius:4px;
    border-bottom: none;
}

QToolButton, #qt_toolbox_toolboxbutton
{
    border: 1px solid rgb(171, 173, 179);
    border-radius: 4px;
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(249, 249, 249, 255), stop:1 rgba(227, 227, 227, 255));
}

QCheckBox::indicator:unchecked
{
    image: url(:/ui/CheckBox/CheckBox_normal);
}

QCheckBox::indicator:unchecked:hover
{
    image: url(:/ui/CheckBox/CheckBox_hover);
}
QCheckBox::indicator:unchecked:pressed
{
    image: url(:/ui/CheckBox/CheckBox_clicked);
}

QCheckBox::indicator:checked
{
    image: url(:/ui/CheckBox/CheckBox_checked_normal);
}

QCheckBox::indicator:checked:hover
{
    image: url(:/ui/CheckBox/CheckBox_checked_hover);
}
QCheckBox::indicator:checked:pressed
{
    image: url(:/ui/CheckBox/CheckBox_checked_clicked);
}

QToolButton:hover, QPushButton:hover, QTabBar::Tab:hover, #qt_toolbox_toolboxbutton:hover
{
    border-color: rgb(128, 43, 96);
    background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(239, 239, 239, 255), stop:1 rgba(227, 227, 227, 255));
}

QToolButton:checked, QPushButton:pressed, #qt_toolbox_toolboxbutton:pressed
{
    background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(227, 227, 227, 255), stop:1 rgba(249, 249, 249, 255));
}

QStatusBar
{
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(249, 249, 249, 255), stop:1 rgba(217, 217, 217, 255));
    border: 1px solid rgb(171, 173, 179);
    border-bottom:none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding:4px;
}

QCheckBox
{
    spacing: 0px;
}

QCheckBox::indicator
{
    width:18px;
    height: 18px;
}

QSpinBox, QDoubleSpinBox, QLineEdit
{
    background-color: rgba(227, 227, 227, 255);
}

#qt_calendar_navigationbar
{
    padding: 16px 8px;
    border: 1px solid rgb(171, 173, 179);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color:qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(239, 239, 239, 255), stop:1 rgba(157, 157, 157, 255));
}

#qt_calendar_yearbutton, #qt_calendar_monthbutton, #qt_calendar_yearedit
{
    color:black;
    padding: 2px 8px;
}

/* Should the text be visible? */
#hourSepLbl[blink="false"], #minSepLbl[blink="false"], #secSepLbl[blink="false"]
{
        color: black; /* show the text*/
}
/* else */
#hourSepLbl[blink="true"], #minSepLbl[blink="true"], #secSepLbl[blink="true"]
{
        color: rgba(0, 0, 0, 0); /* hide the text */
}
